@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas-neue-v15-latin-regular.woff2') format('woff2'); 
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/outfit-v14-latin-600.woff2') format('woff2'); 
  font-style: normal;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

nav ul li{display:inline;
margin-left: 10%;}
#page1{background:red}
#page2{background:green}
#page3{background:blue}

.btn {
  border-radius: 25px;
  width: 20%;
  height: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #F3E2D4;
  background-color: #C5B0CD;
  border-style:none;
  font-size: 2.5vw;
  box-shadow: 1vh 1vh 15px #415E72;
  font-family: 'Outfit', sans-serif
}

* { /* default all elements to have no margin or padding */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
      background-color: #17313E;
}


.index {  /* Use grid for each page */
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-template-rows: 100px 100px auto 100px;
  min-height: 100vh;
}

.background-container {
  opacity: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
  transition: height 0.2s ease-out;

}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.background-container.load-fade {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}


.bg-image {
    max-width: 100vw;
    max-height: 80%;
}

header {
  position: absolute;
  top: 50vh;  /* center vertically */
  left: 50%; /* center horizontally */
  transform: translate(-50%, -50%);
  text-align: center;
  color: #F3E2D4;
  font-size: 3vw;
  font-family: 'Bebas Neue', sans-serif;
  text-shadow: 4px 4px 8px black;
  z-index: 1;
}